<%- include('../partials/header') %>
<div class="profile-page">
    <div class='profile-page--banner'></div>

<img class="profile-page__user--avatar" src ="<%- user.avatarUrl %>" >
<h3 class="profile-page__user"> <%= user.name %>  </h> 
    <h4 class="profile-page__friends"><%= user.name %>'s Friends</p>
    <ul class="profile-page__friends--list">
        <% friends.forEach(user => { %>
            <li class="friend">
                <p><%= user.name %></p>
              <img src="<%= user.avatarUrl %>" />
            </li>
        <% }) %>
    </ul>
  </div>
<%- include('../partials/footer') %>
